@use '../../styles/utils';

.page {
    font-family: utils.$font-mono;
    margin: 0 auto;
    max-width: 1600px;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 2rem);

    @media (max-width: 800px) {
        padding: 1rem;
    }

    .top {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: utils.$font-hairline;

        div {
            width: 100%;
            height: 1px;
            background-color: white;
        }

        span:nth-of-type(2) {
            font-family: utils.$font-heading;
            text-transform: uppercase;
            font-size: 2rem;
        }

        @media (max-width: 800px) {
            span:nth-of-type(1) {
                width: 100%;
                font-size: 0.7rem;
            }
            span:nth-of-type(2) {
                font-size: 1.4rem;
            }
        }
    }

    .center {
        display: flex;
        height: 100%;

        .left {
            height: calc(100% - 1rem);
            display: flex;
            align-items: center;
            writing-mode: vertical-rl;
            margin-top: 2rem;
            gap: 1rem;

            div {
                width: 1px;
                height: 100%;
                background-color: white;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                z-index: 1;
                margin-bottom: 0.2rem;

                li {
                    display: grid;
                    place-content: center;
                }

                a,
                button {
                    font-size: 1.4rem;

                    &:hover {
                        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.7));
                    }

                    @media (max-width: 800px) {
                        font-size: 1rem;

                        &:hover {
                            filter: none;
                        }
                        &:active {
                            filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.7));
                        }
                    }
                }
            }
        }

        .content {
            height: 100%;
            width: 100%;
            padding: 2rem;

            @media (max-width: 800px) {
                padding: 1rem;
            }
        }

        .right {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            writing-mode: vertical-rl;
            font-size: 2rem;
            margin-top: 1rem;
            font-family: utils.$font-barcode;
            user-select: none;
            z-index: 1;

            @media (max-width: 800px) {
                font-size: 1.4rem;
            }

            div {
                width: 1px;
                height: 100%;
                background-color: white;
            }

            button {
                font-size: 1.4rem;

                &:hover {
                    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.7));
                }

                @media (max-width: 800px) {
                    font-size: 1rem;

                    &:hover {
                        filter: none;
                    }
                    &:active {
                        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.7));
                    }
                }
            }
        }
    }

    .bottom {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: utils.$font-hairline;
        padding-left: 3rem;
        z-index: 0;

        & > div:nth-of-type(2) {
            width: calc(100% - 4rem);
            height: 1px;
            margin-left: 4rem;
            background-color: white;
        }

        span {
            font-family: inherit;
            text-align: end;
            line-height: 1;
            width: 30%;
            margin-right: 5rem;
            margin-top: -3rem;
            pointer-events: none;
            user-select: none;
        }

        @media (max-width: 800px) {
            padding-left: 2rem;

            span {
                width: 100%;
                font-size: 0.7rem;
                margin-top: -1rem;
                margin-right: 2rem;
            }
            & > div:nth-of-type(2) {
                display: none;
            }
        }
    }
}
